/* GLOBAL */
:root {
    --heroBoxColour: #F5F5F5D1;
    --darkColour: #0D0D0D;
    --lightColour: #F5F5F5;
    --sectionBoxColour: #88888888;
    --sectionTextBoxColour: #0D0D0DD1;
    --footerColour: #888888;
}

html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    background-image: url("bg_img.jpg");

}


.flexColCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.flexRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.displayNone {
    display: none;
}

img {
    width: 30rem;
}

.medImg {
    width: 25rem;
    height: 25rem;
}

.lrgImg {
    width: 100%;
}

.articleBackground {
    background-color: var(--sectionBoxColour);
    padding: 5rem;
}

.sectionHeader {
    justify-self: center;
    padding: 1rem 2rem;
}

.sectionTextBox {
    color: var(--lightColour);
    background-color: var(--sectionTextBoxColour);
    max-width: 50%;
    padding: 0.5rem 2rem;
}

.imgCredContainer {
    font-size: 10px;
    max-width: 50vW;
}

/* MAIN */
/* HERO */

.hero {
    height: 100vh;
}

.heroTitle {
    color: var(--darkColour);
    background-color: var(--heroBoxColour);
    padding: 1rem 2rem;
}

.heroText {
    color: var(--darkColour);
    background-color: var(--heroBoxColour);
    padding: 1rem 2rem;
    margin-inline: 20%;
}

.heroNavList {
    display: flex;
    gap: 10vw;
    padding: 0;
    margin: 0;
    list-style: none;
}

.selectedArt {
    border: 2px solid white;
    margin: -2px;
    
}




/* SECTION 1 */
.section1 {

}



.section1Article {

}





.section1Text {

}

/* SECTION 2 */

.section2 {

}

.section2Article {

}


/* SECTION 3 */
.section3 {

}

.section3Article {
    justify-content: center;
}

.section3Segment {
    align-self: flex-start; 
}

.section3Text {
    color: var(--lightColour);
    background-color: var(--sectionTextBoxColour);
    max-width: 70%;
    padding: 0.5rem 2rem;
    margin:0;
}

/* FOOTER */
footer {
    background-color: var(--footerColour);
    color: var(--darkColour);
}